<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>service.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<display-name>Register</display-name>
  	<description></description>
  	<servlet-class>model.Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignUpServlet</servlet-name>
  	<display-name>SignUpServlet</display-name>
  	<description></description>
  	<servlet-class>service.SignUpServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignUpServlet1</servlet-name>
  	<display-name>SignUpServlet1</display-name>
  	<description></description>
  	<servlet-class>service.SignUpServlet1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Signup</servlet-name>
  	<display-name>Signup</display-name>
  	<description></description>
  	<servlet-class>controller.Signup</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveServlet</servlet-name>
  	<display-name>SaveServlet</display-name>
  	<description></description>
  	<servlet-class>controller.SaveServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditServlet</servlet-name>
  	<display-name>EditServlet</display-name>
  	<description></description>
  	<servlet-class>controller.EditServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditServlet2</servlet-name>
  	<display-name>EditServlet2</display-name>
  	<description></description>
  	<servlet-class>controller.EditServlet2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewServlet</servlet-name>
  	<display-name>ViewServlet</display-name>
  	<description></description>
  	<servlet-class>controller.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUpServlet</servlet-name>
  	<url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUpServlet1</servlet-name>
  	<url-pattern>/SignUpServlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Signup</servlet-name>
  	<url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveServlet</servlet-name>
  	<url-pattern>/SaveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditServlet</servlet-name>
  	<url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditServlet2</servlet-name>
  	<url-pattern>/EditServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewServlet</servlet-name>
  	<url-pattern>/ViewServlet</url-pattern>
  </servlet-mapping>
</web-app>
